# TeamWeave MongoDB Configuration
PORT=3000

# MongoDB URI (Uncomment and set your local or MongoDB Atlas connection string)
# If left commented or unavailable, TeamWeave automatically runs with an in-memory MongoDB instance
# MONGODB_URI=mongodb://127.0.0.1:27017/teamweave
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/teamweave?retryWrites=true&w=majority
